{% extends "base.html" %}

{% block content %}
<p style="font-size: 28px;">MemeMash is all of the good parts of mark zuckerberg's FaceMash without all the terrible ones.</p>
    
<p style="font-size: 28px;">how it works:</p>
{% for phrase in ['vote on memes', 'memes\' elo scores are adjusted accordingly', 'vote on more memes', 'check leaderboard to see which memes are doing the best']: %}
    <p style="font-size: 18px;">- {{ phrase }}</p>
{% endfor %}

<br /><br />
<p style="font-size: 28px;">hmu with feedback on the site or submissions for new memes <a href="mememashuchicago@gmail.com">here</a></p>
<p>coming soon:</p>
<p style="font-size: 18px;">- scaling images properly</p>
<p style="font-size: 18px;">- all the memes missing from the past few weeks</p>
<p style="font-size: 18px;">- voting terrible memes off the island</p>
<p style="font-size: 18px;">- even less style!</p>
{% endblock %}