<html>
<head>
    <title>MemeMash</title>
</head>
<body>
    <div><b>// MemeMash //</b> <a href="/index">Home</a>   <a href="/leaderboard">Leaderboard</a> <a href="/about">About</a></div>
    <hr />
    <div style="text-align: center; ">
        <h1 style="font-size: 40px;">This is MemeMash</h1>
        {% block content %}{% endblock %}
    </div>
    <footer>
        <hr />
        <div style="display: flex; justify-content: center;">
            <p>By Joe</p>
        </div>
    </footer>
</body>
</html>