{% extends "base.html" %}

{% block content %}
<p style="font-size: 30px;">
    vote for the better meme!
</p>
<p style="font-size: 20px;">
    tap or select with arrow keys (&larr; &rarr;)
    <br />(fyi view is better on laptop or landscape on phone)
</p>
<div id="selection-window" style="display: flex; flex-direction: row; justify-content: center; width: 100%;">
    {% for i in range(0, 2) %}
    <div 
        id='meme-container-{{ i }}'
        style="margin: 25px; padding: 5px; border-style: solid; border-width: 3px; border-color: grey;"
        onclick="window.location.href='{{ url_for('index', choice=memes[i].id, other=memes[i - 1].id) }}'"
    >
        <img 
            class="meme-image"
            src="{{url_for('static', filename='memes/{}'.format(memes[i].filename))}}"
            height="800"
            width="800"
        />
        <p style="font-size: 25px;">{{ memes[i].caption }}</p>
    </div>
    {% endfor %}
</div>

<script>
    // fetch image elements
    imgs = document.getElementsByClassName('meme-image')
    
    const scaleImages = () => {
        console.log('scale images')

        // get window width
        const innerWidth = window.innerWidth
    
        // if window is too skinny, make windows almost full width and stack them
        let percentOfWindowWidth
        if (innerWidth < 800) {
            percentOfWindowWidth = 0.8
            // update div
            document.getElementById('selection-window').style = "display: flex; flex-direction: column; justify-content: center; width: 100%;"
        } else {
            percentOfWindowWidth = 0.35
            document.getElementById('selection-window').style = "display: flex; flex-direction: row; justify-content: center; width: 100%;"
        }

        // adjust height/width of both images (for some reason it won't let me iterate over imgs as array...)
        let img0 = imgs[0]
        let HWRatio = img0.width / img0.height
        img0.width = innerWidth * percentOfWindowWidth
        img0.height = img0.width / HWRatio

        let img1 = imgs[1]
        HWRatio = img1.width / img1.height
        img1.width = innerWidth * percentOfWindowWidth
        img1.height = img1.width / HWRatio
    }

    scaleImages()
    
    // detect arrow key presses
    document.addEventListener('keydown', e => {
        if (e.key === 'ArrowLeft') {
            document.getElementById('meme-container-0').onclick()
        } else if (e.key === 'ArrowRight') {
            document.getElementById('meme-container-1').onclick()
        }
    })

    // dynamically resize window
    window.addEventListener('resize', e => {
        scaleImages()
    })
</script>    
{% endblock %}