{% extends "base.html" %}

{% block content %}
<div class="selection-window" style="display: flex; flex-direction: row; justify-content: center; width: 100%;">
    {% for i in range(0, 2) %}
    <div 
        id='meme-container-{{ i }}'
        style="margin: 25px; padding: 5px; border-style: solid; border-width: 3px; border-color: grey;"
        onclick="window.location.href='{{ url_for('index', choice=memes[i].id, other=memes[i - 1].id) }}'"
        >
        <img 
            class="meme-image"
            src="{{url_for('static', filename='memes/{}'.format(memes[i].filename))}}"
            height="{{ 800 }}"
            width="{{ 800 }}"
        />
        <p style="font-size: 25px;">{{ memes[i].caption }}</p>
    </div>
    {% endfor %}
</div>

<script>
    // fetch image elements
    imgs = document.getElementsByClassName('meme-image')
    
    // adjust image width
    const innerWidth = window.innerWidth
    const innerHeight = window.innerHeight
    const percentOfWindowWidth = 0.35

    let img0 = imgs[0]
    let HWRatio = img0.width / img0.height
    img0.width = innerWidth * percentOfWindowWidth
    img0.height = img0.width / HWRatio

    let img1 = imgs[1]
    HWRatio = img1.width / img1.height
    img1.width = innerWidth * percentOfWindowWidth
    img1.height = img1.width / HWRatio

    // detect arrow key presses
    document.addEventListener('keydown', e => {
        if (e.key === 'ArrowLeft') {
            document.getElementById('meme-container-0').onclick()
        } else if (e.key === 'ArrowRight') {
            document.getElementById('meme-container-1').onclick()
        }
    })

    // dynamically resize window
    // document.addEventListener()
</script>    
{% endblock %}