{% extends "base.html" %}

{% block content %}
{% if memes[0].rating < 1000 %}
<p style="font-size: 25px;">You need to cast more votes before you can see the leaderboard!</p>
{% else %}
<div>
    {% for meme in memes %}
    <div style="display: flex; flex-direction: row; justify-content: left; margin: 15px; align-items: center;">
        <h1 style="font-size: 100px; color: forestgreen; margin: 20px">{{ loop.index0 }}</h1>
        <img 
            src="{{url_for('static', filename='memes/{}'.format(meme.filename))}}"
            style="margin-left: 30px; margin-right: 30px;"
            height="300"
            width="400"
            />
        <p style="font-size: 40px; margin: 15px;">{{ meme.caption }}</p>
    </div>
    <hr />
    {% endfor %}
</div>
{% endif %}
{% endblock %}